@import url("../hypr-shared/colors.css");

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 17px;
  min-height: 0;
  opacity: 0.975;
}

#waybar {
  background: transparent;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @background;
  margin-left: 1rem;
}

#workspaces button {
  color: @foreground;
  border-radius: 1rem;
  border-color: transparent;
  padding: 0.4rem;
}

#workspaces button.active {
  border-radius: 1rem;
  border-color: @foreground;
}

#workspaces button:hover {
  color: @highlight;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#network,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @background;
  color: @foreground;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#keyboard-state {
  background-color: @background;
  color: @foreground;
  padding: 0 0.5rem;
  margin: 5px 0;
}

#clock {
  /* color: @blue; */
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

/*
#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}
*/

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
}

#network {
  padding-right: 1.25rem;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
