@import url("../hypr-shared/colors.css");

* {
  background-image: none;
  box-shadow: none;
}

window {
  background-image: image(url("/home/silent/Pictures/wallpapers/miku.png"), url("/home/silent/Pictures/wallpapers/miku.png"));
  background-size: 100% auto;
  background-position: center;
}

button {
  border-radius: 5;
  text-decoration-color: @foreground;
  color: @foreground;
  background-color: @background;
  border-style: solid;
  border-width: 4px;
  border-color: @foreground;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  opacity: 0.95;
}

button:focus, button:active, button:hover {
  background-color: @highlight;
  border-color: @foreground;
  opacity: 1;
}

#lock {
  background-image: image(url("./lock.png"), url("./lock.png"));
}

#shutdown {
  background-image: image(url("./shutdown.png"), url("./shutdown.png"));
}

#reboot {
  background-image: image(url("./reboot.png"), url("./reboot.png"));
}

#suspend {
  background-image: image(url("./suspend.png"), url("./suspend.png"));
}

